In [5]:
## Load & Inspect
from pathlib import Path
import pandas as pd
import os
file_path = Path("../raw/day2_online_retail_II.xlsx")
df = pd.read_excel(file_path)

In [12]:
os.getcwd()

'c:\\Users\\hemloka\\Documents\\de_project\\notebooks'

In [18]:
##inspect the data
df.columns
df.head()
df.info()
nullsum = df.isnull().sum()
nullsum.to_csv(r'../nulls&duplicates/day2_nullsum_.csv')
duplicate_rows = df[df.duplicated(subset=['Invoice','StockCode'], keep=False)]
duplicate_rows.to_csv(Path('../nulls&duplicates/day2_duplicate_rows.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [19]:
##cleaning data
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [22]:
formatting = df[str_cols].apply(lambda x:x.str.strip())

In [21]:
str_cols = df.select_dtypes(include="object").columns
for col in str_cols:
    num_spaces = (df[col].astype(str) != df[col].astype(str).str.strip()).sum()

print(num_spaces)

0

In [23]:
df['Country'] = df['Country'].str.upper()
df['Description'] = df['Description'].str.title()
df['Country']

0         UNITED KINGDOM
1         UNITED KINGDOM
2         UNITED KINGDOM
3         UNITED KINGDOM
4         UNITED KINGDOM
               ...
525456    UNITED KINGDOM
525457    UNITED KINGDOM
525458    UNITED KINGDOM
525459    UNITED KINGDOM
525460    UNITED KINGDOM
Name: Country, Length: 525461, dtype: object

In [ ]:
df[df.duplicated(subset=['Invoice','StockCode'], keep=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
289,489488,22125,Union Jack Hot Water Bottle,2,2009-12-01 10:59:00,5.95,17238.0,UNITED KINGDOM
299,489488,22125,Union Jack Hot Water Bottle,1,2009-12-01 10:59:00,5.95,17238.0,UNITED KINGDOM
362,489517,21913,Vintage Seaside Jigsaw Puzzles,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM
363,489517,21912,Vintage Snakes & Ladders,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM
365,489517,21821,Glitter Star Garland With Bells,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM
...,...,...,...,...,...,...,...,...
525259,538163,21479,White Skull Hot Water Bottle,1,2010-12-09 17:27:00,3.75,17841.0,UNITED KINGDOM
525292,538166,21915,Red Harmonica In Box,5,2010-12-09 18:09:00,1.25,17965.0,UNITED KINGDOM
525293,538166,21915,Red Harmonica In Box,5,2010-12-09 18:09:00,1.25,17965.0,UNITED KINGDOM
525330,538168,22739,Ribbon Reel Christmas Sock Bauble,5,2010-12-09 19:23:00,1.65,14702.0,UNITED KINGDOM
525340,538168,22739,Ribbon Reel Christmas Sock Bauble,5,2010-12-09 19:23:00,1.65,14702.0,UNITED KINGDOM

In [24]:
df = df.drop_duplicates(subset=['Invoice','StockCode'], keep='first')

In [25]:
# Strip spaces and normalize casing first
df['Invoice'] = df['Invoice'].astype(str).str.strip()
df['StockCode'] = df['StockCode'].astype(str).str.strip().str.upper()

# Check duplicates again
df[df.duplicated(subset=['Invoice','StockCode'], keep=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
305260,519195,85099B,Jumbo Bag Red Retrospot,45,2010-08-13 18:07:00,4.21,NaN,UNITED KINGDOM
305261,519195,85099B,Jumbo Bag Red Retrospot,3,2010-08-13 18:07:00,5.06,NaN,UNITED KINGDOM

In [26]:
df = df.drop_duplicates(subset=['Invoice','StockCode'], keep='first')

In [27]:
df.head() 
df.tail() # should show first 5 rows

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
525456,538171,22271,Feltcraft Doll Rosie,2,2010-12-09 20:01:00,2.95,17530.0,UNITED KINGDOM
525457,538171,22750,Feltcraft Princess Lola Doll,1,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
525458,538171,22751,Feltcraft Princess Olivia Doll,1,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
525459,538171,20970,Pink Floral Feltcraft Shoulder Bag,2,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
525460,538171,21931,Jumbo Storage Bag Suki,2,2010-12-09 20:01:00,1.95,17530.0,UNITED KINGDOM

In [ ]:
df.reset_index(drop=True, inplace=True)
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15Cm Christmas Glass Ball 20 Lights,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM
1,489434,79323P,Pink Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM
2,489434,79323W,White Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM
3,489434,22041,"Record Frame 7"" Single Size",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM
4,489434,21232,Strawberry Ceramic Trinket Box,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM
...,...,...,...,...,...,...,...,...
512120,538171,22271,Feltcraft Doll Rosie,2,2010-12-09 20:01:00,2.95,17530.0,UNITED KINGDOM
512121,538171,22750,Feltcraft Princess Lola Doll,1,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
512122,538171,22751,Feltcraft Princess Olivia Doll,1,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
512123,538171,20970,Pink Floral Feltcraft Shoulder Bag,2,2010-12-09 20:01:00,3.75,17530.0,UNITED KINGDOM
512124,538171,21931,Jumbo Storage Bag Suki,2,2010-12-09 20:01:00,1.95,17530.0,UNITED KINGDOM

In [28]:
null_percent = (df.isnull().sum() / df.shape[0] * 100)
null_count= df.isnull().sum()

In [29]:
null_summary = pd.DataFrame({
    'column': df.columns,
    'missing_count': null_count,
    'missing_percent': null_percent
})

print(null_summary)

                  column  missing_count  missing_percent
Invoice          Invoice              0         0.000000
StockCode      StockCode              0         0.000000
Description  Description           2931         0.572321
Quantity        Quantity              0         0.000000
InvoiceDate  InvoiceDate              0         0.000000
Price              Price              0         0.000000
Customer ID  Customer ID         107379        20.967342
Country          Country              0         0.000000

In [30]:
df['Description'].fillna('UNKNOWN')
df['Customer ID'].isnull().sum()

np.int64(107379)

In [31]:
#flagging
df['flags'] = df['Customer ID'].apply(lambda x: 1 if pd.isnull(x) else 0)

df['flags'] = df['Customer ID'].isnull().astype(int)

In [32]:
# Count rows where flag is 0
df[df['flags'] == 0].head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,flags
0,489434,85048,15Cm Christmas Glass Ball 20 Lights,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM,0
1,489434,79323P,Pink Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,0
2,489434,79323W,White Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,0
3,489434,22041,"Record Frame 7"" Single Size",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM,0
4,489434,21232,Strawberry Ceramic Trinket Box,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM,0

In [33]:
cat_cols = ['Country', 'Description', 'StockCode']

for col in cat_cols:
    print(f"{col} unique values (sample 10):", df[col].unique()[:10])

Country unique values (sample 10): ['UNITED KINGDOM' 'FRANCE' 'USA' 'BELGIUM' 'AUSTRALIA' 'EIRE' 'GERMANY'
 'PORTUGAL' 'JAPAN' 'DENMARK']
Description unique values (sample 10): ['15Cm Christmas Glass Ball 20 Lights' 'Pink Cherry Lights'
 ' White Cherry Lights' 'Record Frame 7" Single Size '
 'Strawberry Ceramic Trinket Box' 'Pink Doughnut Trinket Pot '
 'Save The Planet Mug' 'Fancy Font Home Sweet Home Doormat' 'Cat Bowl '
 'Dog Bowl , Chasing Ball Design']
StockCode unique values (sample 10): ['85048' '79323P' '79323W' '22041' '21232' '22064' '21871' '21523' '22350'
 '22349']

In [34]:
# Strip spaces and normalize casing
df['Country'] = df['Country'].str.strip().str.upper()
df['Description'] = df['Description'].str.strip().str.title()
df['StockCode'] = df['StockCode'].str.strip().str.upper()

In [ ]:
# Check unique values after cleaning
for col in cat_cols:
    print(f"{col} unique values after cleaning (sample 10):", df[col].unique()[:10])

df.

Country unique values after cleaning (sample 10): ['UNITED KINGDOM' 'FRANCE' 'USA' 'BELGIUM' 'AUSTRALIA' 'EIRE' 'GERMANY'
 'PORTUGAL' 'JAPAN' 'DENMARK']
Description unique values after cleaning (sample 10): ['15Cm Christmas Glass Ball 20 Lights' 'Pink Cherry Lights'
 'White Cherry Lights' 'Record Frame 7" Single Size'
 'Strawberry Ceramic Trinket Box' 'Pink Doughnut Trinket Pot'
 'Save The Planet Mug' 'Fancy Font Home Sweet Home Doormat' 'Cat Bowl'
 'Dog Bowl , Chasing Ball Design']
StockCode unique values after cleaning (sample 10): ['85048' '79323P' '79323W' '22041' '21232' '22064' '21871' '21523' '22350'
 '22349']

In [36]:
# Check summary statistics
ses = df[['Quantity','Price']].describe()

# Detect invalid or impossible values
invalid_qty = df[df['Quantity'] <= 0]
invalid_price = df[df['Price'] <= 0]

# Apply business rules: remove or correct invalid values
df = df[df['Quantity'] > 0]
df = df[df['Price'] > 0]

In [37]:
print(invalid_price)
print(invalid_qty)
print(ses)

       Invoice StockCode   Description  Quantity         InvoiceDate  Price  \
263     489464     21733  85123A Mixed       -96 2009-12-01 10:52:00    0.0
283     489463     71477         Short      -240 2009-12-01 10:52:00    0.0
284     489467    85123A   21733 Mixed      -192 2009-12-01 10:53:00    0.0
470     489521     21646           NaN       -50 2009-12-01 11:44:00    0.0
3114    489655     20683           NaN       -44 2009-12-01 17:26:00    0.0
...        ...       ...           ...       ...                 ...    ...
525231  538159     21324           NaN       -18 2010-12-09 17:17:00    0.0
525232  538158     20892           NaN       -32 2010-12-09 17:17:00    0.0
525233  538160     20956           NaN       288 2010-12-09 17:18:00    0.0
525234  538161    46000S  Dotcom Sales      -100 2010-12-09 17:25:00    0.0
525235  538162    46000M  Dotcom Sales      -100 2010-12-09 17:25:00    0.0

        Customer ID         Country  flags
263             NaN  UNITED KINGDOM      1
283             NaN  UNITED KINGDOM      1
284             NaN  UNITED KINGDOM      1
470             NaN  UNITED KINGDOM      1
3114            NaN  UNITED KINGDOM      1
...             ...             ...    ...
525231          NaN  UNITED KINGDOM      1
525232          NaN  UNITED KINGDOM      1
525233          NaN  UNITED KINGDOM      1
525234          NaN  UNITED KINGDOM      1
525235          NaN  UNITED KINGDOM      1

[3672 rows x 9 columns]
        Invoice StockCode                    Description  Quantity  \
178     C489449     22087       Paper Bunting White Lace       -12
179     C489449    85206A   Cream Felt Easter Egg Basket        -6
180     C489449     21895  Potting Shed Sow 'N' Grow Set        -4
181     C489449     21896             Potting Shed Twine        -6
182     C489449     22083     Paper Chain Kit Retro Spot       -12
...         ...       ...                            ...       ...
525231   538159     21324                            NaN       -18
525232   538158     20892                            NaN       -32
525234   538161    46000S                   Dotcom Sales      -100
525235   538162    46000M                   Dotcom Sales      -100
525282  C538164    35004B    Set Of 3 Black Flying Ducks        -1

               InvoiceDate  Price  Customer ID         Country  flags
178    2009-12-01 10:33:00   2.95      16321.0       AUSTRALIA      0
179    2009-12-01 10:33:00   1.65      16321.0       AUSTRALIA      0
180    2009-12-01 10:33:00   4.25      16321.0       AUSTRALIA      0
181    2009-12-01 10:33:00   2.10      16321.0       AUSTRALIA      0
182    2009-12-01 10:33:00   2.95      16321.0       AUSTRALIA      0
...                    ...    ...          ...             ...    ...
525231 2010-12-09 17:17:00   0.00          NaN  UNITED KINGDOM      1
525232 2010-12-09 17:17:00   0.00          NaN  UNITED KINGDOM      1
525234 2010-12-09 17:25:00   0.00          NaN  UNITED KINGDOM      1
525235 2010-12-09 17:25:00   0.00          NaN  UNITED KINGDOM      1
525282 2010-12-09 17:32:00   1.95      14031.0  UNITED KINGDOM      0

[12218 rows x 9 columns]
            Quantity          Price
count  512125.000000  512125.000000
mean       10.488086       4.739632
std       107.717625     148.009514
min     -9600.000000  -53594.360000
25%         1.000000       1.250000
50%         3.000000       2.100000
75%        10.000000       4.210000
max     19152.000000   25111.090000

In [38]:
print("Invalid Quantity rows:", len(invalid_qty))
print("Invalid Price rows:", len(invalid_price))

Invalid Quantity rows: 12218
Invalid Price rows: 3672

In [39]:
df.isnull().sum()

Invoice             0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
Price               0
Customer ID    103397
Country             0
flags               0
dtype: int64

In [40]:
import sqlite3

# 1. Create a SQLite in-memory database
conn = sqlite3.connect(":memory:")

# 2. Load DataFrame as a table
df.to_sql("retail", conn, index=False, if_exists="replace")

# 3. Run SQL queries
query1 = "SELECT Country, COUNT(DISTINCT Invoice) as total_orders FROM retail GROUP BY Country;"
orders_per_country = pd.read_sql(query1, conn)
print(orders_per_country)

query2 = "SELECT * FROM retail WHERE [Customer ID] IS NULL;"
missing_customers = pd.read_sql(query2, conn)
print(missing_customers.shape)

# 4. Join example (assuming products table loaded)
# products.to_sql("products", conn, index=False, if_exists="replace")
# join_query = "SELECT r.*, p.ProductName FROM retail r LEFT JOIN products p ON r.StockCode=p.StockCode;"
# joined = pd.read_sql(join_query, conn)
# print(joined.head())

                 Country  total_orders
0              AUSTRALIA            40
1                AUSTRIA            28
2                BAHRAIN             7
3                BELGIUM            52
4                BERMUDA             1
5                 BRAZIL             1
6                 CANADA             2
7        CHANNEL ISLANDS            30
8                 CYPRUS            21
9                DENMARK            26
10                  EIRE           348
11               FINLAND            16
12                FRANCE           241
13               GERMANY           347
14                GREECE            13
15             HONG KONG             4
16               ICELAND             2
17                ISRAEL             2
18                 ITALY            28
19                 JAPAN            16
20                 KOREA             2
21               LEBANON             1
22             LITHUANIA             6
23                 MALTA             4
24           NETHERLANDS           135
25               NIGERIA             2
26                NORWAY            11
27                POLAND            10
28              PORTUGAL            41
29                   RSA             3
30             SINGAPORE             4
31                 SPAIN            66
32                SWEDEN            69
33           SWITZERLAND            40
34              THAILAND             2
35  UNITED ARAB EMIRATES            13
36        UNITED KINGDOM         19285
37           UNSPECIFIED            11
38                   USA            15
39           WEST INDIES             1
(103397, 9)